html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}
body {
  font-family: Ubuntu, Tahoma, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.4em;
  background: #f7f7f7;
  color: #404040;
}
body.dark {
  background: #131313;
  color: #e3e3e3;
}
a {
  text-decoration: none;
}
.dark a {
  color: #5ae;
}
#wrap {
  padding: 0 3.5%;
}
svg {
  font-family: Ubuntu, Tahoma, Helvetica, sans-serif;
}
canvas, svg {
    position: absolute;
    top: 0;
    left: 0;
}
.row {
  cursor: pointer;
}